<div class="pagepeak_top"><img src="/img/menupeak.png"></div>
<div class="pagepeak_bott"><img src="/img/menupeak_bott.png"></div>
<div class="pagebott_fill"></div>
<div class="bodywhite">
	<div id="bodywhite_left">
		<div class="leftbody">
			<div class="homeheaderlcb">
				<div id="lhead">
					<h1>what is</h1><p>-</p><h2>dishdish</h2><h3>?</h3>
				</div>
				<div id="lheadbod">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
				<div class="homeheaderlcbw"></div>
				<div id="homelsubhead">
				<img src="/img/fadebubbblue.png">
				<h1>featured</h1><h2>dishes</h2>
				</div>
				<div class="reviewsleft">
					<div class="restreview">
						<div id="rrheader">
							<p>vetri</p>
							<object id="flag" type="image/svg+xml" data="/img/italian.svg"></object>
						</div>
						<div class="restreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="restrevdish">
								<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="restrevbox">
							<div id="reviewerid">
								<div id="reviewerphoto">
									<p>photo</p>
								</div>
								<div id="reviewername">
									<p>name</p>
								</div>
								<div id="reviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="restrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="restrevdishrate">
							<object type="image/svg+xml" data="/img/hatfour.svg"></object><p>4</p>
						</div>
					</div>
					<div class="restreview">
						<div id="rrheader">
							<p>vetri</p>
							<object id="flag" type="image/svg+xml" data="/img/italian.svg"></object>
						</div>
						<div class="restreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="restrevdish">
								<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="restrevbox">
							<div id="reviewerid">
								<div id="reviewerphoto">
									<p>photo</p>
								</div>
								<div id="reviewername">
									<p>name</p>
								</div>
								<div id="reviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="restrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="restrevdishrate">
							<object type="image/svg+xml" data="/img/hatfour.svg"></object><p>4</p>
						</div>
					</div>
					<div class="restreview">
						<div id="rrheader">
							<p>vetri</p>
							<object id="flag" type="image/svg+xml" data="/img/italian.svg"></object>
						</div>
						<div class="restreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="restrevdish">
								<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="restrevbox">
							<div id="reviewerid">
								<div id="reviewerphoto">
									<p>photo</p>
								</div>
								<div id="reviewername">
									<p>name</p>
								</div>
								<div id="reviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="restrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="restrevdishrate">
							<object type="image/svg+xml" data="/img/hatfour.svg"></object><p>4</p>
						</div>
					</div>
					<div class="restreview">
						<div id="rrheader">
							<p>vetri</p>
							<object id="flag" type="image/svg+xml" data="/img/italian.svg"></object>
						</div>
						<div class="restreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="restrevdish">
								<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="restrevbox">
							<div id="reviewerid">
								<div id="reviewerphoto">
									<p>photo</p>
								</div>
								<div id="reviewername">
									<p>name</p>
								</div>
								<div id="reviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="restrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="restrevdishrate">
							<object type="image/svg+xml" data="/img/hatfour.svg"></object><p>4</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="bodywhite_right">
		<div class="rightbody">
			<div class="homeheaderrcb">
				<div id="rhead">
					<h1>how do i</h1><p>-</p><h2>dishdish</h2><h3>?</h3>
				</div>
				<div id="rheadbod">
					<p>This is some descriptive copy</p>
				</div>
				<div class="newbuttons">
					<a href="#newuser" class="button">Become a Disher!</a>
					<a href="#newowner" class="button">Signup your Restaurant!</a>
					<!-- <a href="#newreview"><p>Write a review!</p></a> -->
				</div>
				<div class="homeheaderrcbw"></div>
				<div id="rsubhead">
				<h1>featured</h1><h2>dishes</h2>
				<img src="/img/fadebubborange.png">
				</div>
				<div class="reviewsright">
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>