<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<script type="text/javascript" src="/js/menu.js"></script>
	<script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
<!-- 	// <script src="/js/jquery.modal.min.js" type="text/javascript" charset="utf-8"></script> -->
<!-- 	<link rel="stylesheet" href="/css/jquery.modal.css" type="text/css" media="screen" /> -->
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/userpage.css">
	<link rel="stylesheet" type="text/css" href="/css/ownerpage.css">
	<link rel="stylesheet" type="text/css" href="/css/signin.css">
	<link rel="stylesheet" type="text/css" href="/css/menu.css">
	<link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300|Questrial' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="container">
	<div class="signin">
		<div class="topsignin"><input type='image' id='clicksi' img src="/img/signin.png"></div>
	      	<div class="signinform">
	    		<form method="POST" action="/sign-in">
					<input type="text" name="username" placeholder="username" required>
					<input type="password" name="password" placeholder="password" required>
					<input type="submit" value="sign in!">
				</form>
	    	</div>
	</div>
	<div class="logo"><a href='/'><object id="logo" type="image/svg+xml" data="/img/logo.svg"></object></a></div>
				<!-- start ruby -->
					<%= yield %>	
				<!-- end ruby -->
	</div>
</body>
</html>