<!-- create a new user -->
<form method="POST" action="/create-user">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<input type="password" name="password_confirmation" placeholder="Confirm password">
	<input type="submit" value="create">
</form>


