<div class="pagepeak_top"><img src="/img/menupeak.png"></div>
<div class="pagepeak_bott"><img src="/img/menupeak_bott.png"></div>
<div class="pagebott_fill"></div>
<div class="bodywhite">
    <div id="bodywhite_left">
        <div class="leftbody">
            <div class="headerlcb">
                <div id="lhead">
                    <h1>vetri's</h1><p>-</p><h2>menu</h2>
                </div>
                <div class="headerlcbw"></div>
                <div class="restleft">
                    <!-- modal here -->
                    <!-- #modal is the id of a DIV defined in the code below -->
                    <a href="#modal" name="modal">Simple Modal Window</a>
 
                    <!-- #customize your modal window here -->
 
                    <div id="modal" class="modalwindow">
                        <b>Testing of Modal Window</b> | 
 
                    <!-- close button is defined as close class -->
                    <a href="#" class="close">Close it</a>
 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="bodywhite_right">
        <div class="rightbody">
            <div class="headerrcb">
                <div id="rhead">
                    <h1>the latest</h1><h4>vetri</h4><h2>dish</h2><h3>...</h3>
                </div>
                <div class="headerrcbw"></div>
                <div class="menuright">
                    <div id="rsubhead">
                        <div id="rsubhead_menu">
                            <h5>all dishes</h5>
                        </div>
                    </div>
                </div>
                <div class="reviewsright">
                    <div class="dishreview">
                        <div id="drheader">
                            <p>Fettuccine with Octopus Ragu</p>
                        </div>
                        <div class="dishrevbox">
                            <div id="reviewerid">
                                <div id="dreviewerphoto">
                                    <p>photo</p>
                                </div>
                                <div id="dreviewername">
                                    <p>name</p>
                                </div>
                                <div id="dreviewerdishes">
                                    <p># dishes</p>
                                </div>
                            </div>
                            <div class="dishrevdishtxt">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
                            </div>
                        </div>
                        <div class="dishrevdishrate">
                            <object type="image/svg+xml" data="/img/cam.svg"></object>
                            <object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
                        </div>
                        <div class="dishreviconbar">
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/restaurant.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/map.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/heart.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/alcohol.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
                            </div>
                        </div>
                        <div class="dishrevrestname">
                            <p>vetri</p>
                        </div>
                    </div>
                    <div class="dishreview">
                        <div id="drheader">
                            <p>Fettuccine with Octopus Ragu</p>
                        </div>
                        <div class="dishrevbox">
                            <div id="reviewerid">
                                <div id="dreviewerphoto">
                                    <p>photo</p>
                                </div>
                                <div id="dreviewername">
                                    <p>name</p>
                                </div>
                                <div id="dreviewerdishes">
                                    <p># dishes</p>
                                </div>
                            </div>
                            <div class="dishrevdishtxt">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
                            </div>
                        </div>
                        <div class="dishrevdishrate">
                            <object type="image/svg+xml" data="/img/cam.svg"></object>
                            <object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
                        </div>
                        <div class="dishreviconbar">
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/restaurant.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/map.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/heart.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/alcohol.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
                            </div>
                        </div>
                        <div class="dishrevrestname">
                            <p>vetri</p>
                        </div>
                    </div>
                    <div class="dishreview">
                        <div id="drheader">
                            <p>Fettuccine with Octopus Ragu</p>
                        </div>
                        <div class="dishrevbox">
                            <div id="reviewerid">
                                <div id="dreviewerphoto">
                                    <p>photo</p>
                                </div>
                                <div id="dreviewername">
                                    <p>name</p>
                                </div>
                                <div id="dreviewerdishes">
                                    <p># dishes</p>
                                </div>
                            </div>
                            <div class="dishrevdishtxt">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
                            </div>
                        </div>
                        <div class="dishrevdishrate">
                            <object type="image/svg+xml" data="/img/cam.svg"></object>
                            <object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
                        </div>
                        <div class="dishreviconbar">
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/restaurant.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/map.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/heart.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/alcohol.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
                            </div>
                        </div>
                        <div class="dishrevrestname">
                            <p>vetri</p>
                        </div>
                    </div>
                    <div class="dishreview">
                        <div id="drheader">
                            <p>Fettuccine with Octopus Ragu</p>
                        </div>
                        <div class="dishrevbox">
                            <div id="reviewerid">
                                <div id="dreviewerphoto">
                                    <p>photo</p>
                                </div>
                                <div id="dreviewername">
                                    <p>name</p>
                                </div>
                                <div id="dreviewerdishes">
                                    <p># dishes</p>
                                </div>
                            </div>
                            <div class="dishrevdishtxt">
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
                            </div>
                        </div>
                        <div class="dishrevdishrate">
                            <object type="image/svg+xml" data="/img/cam.svg"></object>
                            <object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
                        </div>
                        <div class="dishreviconbar">
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/restaurant.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/map.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/heart.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/alcohol.svg"></object>
                            </div>
                            <div id="restrevicon">
                            <object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
                            </div>
                        </div>
                        <div class="dishrevrestname">
                            <p>vetri</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>