<div class="topsignin"><img src="/img/signin.png"></div>
<div class="logo"><object id="logo" type="image/svg+xml" data="/img/logo.svg"></object></div>
<div class="pagepeak_top"><img src="/img/menupeak.png"></div>
<div class="pagepeak_bott"><img src="/img/menupeak_bott.png"></div>
<div class="pagebott_fill"></div>
<div class="bodywhite">
	<div id="bodywhite_left">
		<div class="leftbody">
			<div class="headerlcb">
				<div id="lhead">
					<h1>restaurant name</h1><p>-</p><h2>profile</h2><h3>!</h3>
				</div>
				<div class="headerlcbw"></div>
				<div class="profileleft">

				</div>
			</div>
		</div>
	</div>
	<div id="bodywhite_right">
		<div class="rightbody">
			<div class="headerrcb">
				<div id="rhead">
					<h1>restaurant name</h1><p>-</p><h2>menu</h2><h3>...</h3>
				</div>
				<div class="headerrcbw"></div>
				<div class="menuright">
					<div id="rsubhead">
						<div id="rsubhead_menu">
							<h5>antipasti</h5>
						</div>
						<div id="rsubhead_menu">
							<h6>pasta</h6>
						</div>
						<div id="rsubhead_menu">
							<h6>secondi</h6>
						</div>
						<div id="rsubhead_menu">
							<h6>dolci</h6>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>