<div class="pagepeak_top"><img src="/img/menupeak.png"></div>
<div class="pagepeak_bott"><img src="/img/menupeak_bott.png"></div>
<div class="pagebott_fill"></div>
<div class="bodywhite">
	<div id="bodywhite_left">
		<div class="leftbody">
			<div class="headerlcb">
				<div id="lhead">
					<h1>vetri's</h1><p>-</p><h2>menu</h2>
				</div>
				<div class="headerlcbw"></div>
				<div class="restleft">
					<div class="resticonbar">
						<div id="resticon">
							<object type="image/svg+xml" data="/img/italian.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
						</div>
						<div id="resticon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
						</div>
					</div>
					<div class="restdescrip">
						<p>
							Originally opened and operated with a more traditional a la carte menu, Vetri moved to a tasting menu-only format to fully showcase the constantly evolving, dynamic creativity of Chef Vetri and his kitchen staff, and their desire to offer an unparalleled dining experience. Upon arriving at their table, guests are treated as they would be in Italy and are eased into dinner with a selection of stuzzichini (hors d’oeuvres). With palates and stomachs primed, menus arrive—Di Pesce (fish), Di Verdure (vegetable), Di Terra (from the earth) and Dolce (dessert)—allowing for both the perusal of the season’s best offerings, and a conversation between guests and the restaurant’s staff to shape the meal.
						</p>
					</div>
					<div class="accordion">
					    <h2>antipasti</h2>
						    <div class="pane">
						        <div class="dishselect">
						        	<h1>Farinata with Pistachio</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Tuna Crudo</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Sweet Onion Crepe with Truffle Fondue</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Veal Tartar with Sweetbreads</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Farro Minestra with Scampi</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Tortellini Pie</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Foie Gras with Carrot &amp; Malt Syrup</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Brandade with Herb Crostini</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        	<!-- <p><a href="#ex1" rel="modal:open">Open Modal</a></p> -->
						        </div>
						    </div>
					    <h3>pasta</h3>
						    <div class="pane">
						        <div class="dishselect">
						        	<h1>Spinach Gnocchi with Brown Butter</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Almond Tortellini with Truffle Sauce</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Trotter Plin with Orange and Fennel Pollen</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Chestnut Maltagliati with Boar Ragu</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Fettuccine with Octopus Ragu</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Malted Wheat Malloreddus with Cotechino</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Cresto Di Gallo with Pheasant Ragu</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Fig Caramelle with Gorgonzola</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						    </div>
						<h3>secondi</h3>
						    <div class="pane">
						        <div class="dishselect">
						        	<h1>Roasted Guinea Hen</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Salt Baked Branzino</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Capretto with Soft Polenta</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Venison with Butternut Squash</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						    </div>
						<h4>dolci</h4>
						    <div class="pane">
						        <div class="dishselect">
						        	<h1>Chocolate Polenta Souffle</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Coffee Panna Cotta</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Pistachio Flan with Milk Chocolate Gelato</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Pear Tart with Almond Gelato</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Panetonne</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Piccolo Pasticceria</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						        <div class="dishselect">
						        	<h1>Formaggi</h1>
						        	<p>342 dishes</p>
						        	<object id="dishrate" type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						        	<object id="dishview" type="image/svg+xml" data="/img/view.svg"></object>
						        	<object id="dishrate" type="image/svg+xml" data="/img/cam.svg"></object><p>174</p>
						        	<object id="dishsay" type="image/svg+xml" data="/img/add.svg"></object>
						        </div>
						    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="bodywhite_right">
		<div class="rightbody">
			<div class="headerrcb">
				<div id="rhead">
					<h1>the latest</h1><h4>vetri</h4><h2>dish</h2><h3>...</h3>
				</div>
				<div class="headerrcbw"></div>
				<div class="menuright">
					<div id="rsubhead">
						<div id="rsubhead_menu">
							<h5>all dishes</h5>
						</div>
					</div>
				</div>
				<div class="reviewsright">
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
					<div class="dishreview">
						<div id="drheader">
							<p>Fettuccine with Octopus Ragu</p>
						</div>
						<div class="dishrevbox">
							<div id="reviewerid">
								<div id="dreviewerphoto">
									<p>photo</p>
								</div>
								<div id="dreviewername">
									<p>name</p>
								</div>
								<div id="dreviewerdishes">
									<p># dishes</p>
								</div>
							</div>
							<div class="dishrevdishtxt">
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis</p>
							</div>
						</div>
						<div class="dishrevdishrate">
							<object type="image/svg+xml" data="/img/cam.svg"></object>
							<object type="image/svg+xml" data="/img/platesfour.svg"></object><p>4</p>
						</div>
						<div class="dishreviconbar">
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/restaurant.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/map.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/heart.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/alcohol.svg"></object>
							</div>
							<div id="restrevicon">
							<object type="image/svg+xml" data="/img/dollarsfour.svg"></object>
							</div>
						</div>
						<div class="dishrevrestname">
							<p>vetri</p>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>