<h3>Change profile details for <%=current_user.username%></h3>
<ul>
	<li>Current motto: <%=current_user.motto%></li>
</ul>

<form method='post' action='/update/user/<%=current_user.id%>'>
	<input type="text" name="motto" placeholder="enter new motto" required>
	<input type="submit" value="update motto">
</form>

<h4>Change password</h4>
<form method="POST" action="/change-password/user/<%=current_user.id%>">
	<input type="password" name="old_password" placeholder="old password" required>
	<input type="password" name="new_password" placeholder="new password" required>
	<input type="password" name="new_password_confirmation" placeholder="confirm new password" required>
	<input type="submit" value="change password">
</form>
<a href='/profile'>Back to profile</a>