/* styling for review modal - modal is hidden in layout.erb - look at the bottom of the body */

/* pull in other styling so consistent */
.reviewfield {
/*	width: 450px;
	height: 500px;*/
	margin-bottom: 2px;
}
.ratefield {
	width: 100px;
	height: 100px;
}