/* ----- SIGNIN TOP RIGHT ----- */
.signin {
	width: 96%;
	height: 50px;
	margin-top: 10px;
	display: flex;
	justify-content:flex-end;
  	/*align-items: center;*/
  	z-index: 37;
  	position: absolute;
  	text-decoration: none;
}
.topsignin {
	z-index: 37;
	position: absolute;
}
.signinform {
	position: absolute;
  	right: -400px;
  	width: 330px;
  	height: 30px;
	display:flex;
	align-items:center;
	float:right;
	z-index: 3;
	text-decoration: none;
}
#signon {
    display: flex;
}
#signout {
    display: flex;
}

#hello {
	width: 200px;
	display: flex;
	margin-top: -10px;
}
#hello p {
	color: rgb(252, 179, 77);
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 16px;
}
#hello a {
	text-decoration: none;
}
#hello a:link, a:visited{
	text-decoration: none;
	color: rgb(240, 92, 34);
}
