/* ----- MENU BACKGROUND ----- */
.pagepeak_top {
	display:flex;
	justify-content:center;
	align-items:center;
	width:99.7%;
	height:105px;
	margin-top: 117px;
	z-index: 4;
	position: absolute;
}
.bodywhite{
	width:100%;
	vertical-align: top;
	margin-top: 160px;
	z-index: 3;
}
#bodywhite_left {
	background-color: rgb(255, 255, 255);
	width: 50%;
	height:900px;
	z-index: 3;
	float:left;
	border-top-right-radius: 36px;
}
#bodywhite_right {
	background-color: rgb(255, 255, 255);
	width: 50%;
	height:900px;
	z-index: 3;
	float:right;
	border-top-left-radius: 36px;
}
/*.pagepeak_bott {
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:42px;
	margin-top: 1050px;
	z-index: 5;
	position: absolute;
}
.pagebott_fill {
	background-color: rgb(200, 225, 231);
	width:100%;
	height: 12px;
	z-index: 4;
	margin-top: 1050px;
	position: absolute;
}*/


/* ----- BODY LEFT ----- */
.leftbody{
	width:500px;
	display:inline;
}

/* ----- HEADERS LEFT ----- */
.headerlcb{
	background-color: rgb(240, 92, 34);
	width:500px;
	height: 105px;
	border-top-right-radius: 55px;
	margin-top: 20px;
	display:inline;
	float:right;
	position: relative;
}
.headerlcbw{
	background-color: rgb(255, 255, 255);
	width:500px;
	height: 55px;
	border-top-right-radius: 55px;
	margin-top: 10px;
}
#lhead {
	display:flex;
	justify-content:center;
	align-items:center;
	height:50px;
	z-index: 5;
}
#lsubhead {
	display:flex;
	justify-content:center;
	align-items:center;
	height:50px;
	width: 100%;
	margin-top: -45px;
	z-index: 7;
	position: relative;
}


/* ----- BODY RIGHT ----- */
.rightbody{
	width:500px;
	display:inline;
}


/* ----- HEADERS RIGHT ----- */
.headerrcb{
	background-color: rgb(131, 200, 191);
	width:500px;
	height: 105px;
	border-top-left-radius: 55px;
	margin-top: 20px;
	display:inline;
	float:left;
	position: relative;
}
.headerrcbw{
	background-color: rgb(255, 255, 255);
	width:500px;
	height: 55px;
	border-top-left-radius: 55px;
	margin-top: 10px;
}
#rhead {
	display:flex;
	justify-content:center;
	align-items:center;
	height:50px;
	z-index: 5;
}
#rsubhead {
	display:flex;
	justify-content:center;
	align-items:center;
	height:50px;
	width: 100%;
	margin-top: -45px;
	margin-bottom: -10px;
	z-index: 7;
	position: relative;
}
#rsubhead_left {
	display:flex;
	justify-content:center;
	align-items:center;
	height:50px;
	width: 50%;
	margin-top: -45px;
	margin-bottom: -10px;
	z-index: 7;
	position: relative;
}
#rsubhead_right {
	display:flex;
	justify-content:center;
	align-items:center;
	height:50px;
	width: 50%;
	margin-top: -45px;
	margin-bottom: -10px;
	z-index: 7;
	position: relative;
}


/* ----- HEADERS HEADLINE ----- */

/* --- LEFT --- */
#lhead h1{
	color: rgb(192, 62, 26);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -4px;
	display: inline; 
}
#lhead h2{
	color: rgb(255, 255, 255);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -4px;
	display: inline; 
}
#lhead h3{
	color: rgb(121, 23, 78);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -4px;
	display: inline; 
}
#lhead p{
	color: rgb(240, 92, 34);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -8px;
	display: inline; 
}
#lheadbod p{
	color: rgb(121, 23, 78);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
}
#lsubhead h1{
	color: rgb(131, 200, 191);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -4px;
	display: inline; 
}
#lsubhead h2{
	color: rgb(73, 152, 152);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -4px;
	display: inline; 
}

/* --- RIGHT --- */
#rhead h1{
	color: rgb(73, 152, 152);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -4px;
	display: inline; 
}
#rhead h2{
	color: rgb(255, 255, 255);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -4px;
	display: inline; 
}
#rhead h3{
	color: rgb(81, 96, 113);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: .5px;
	display: inline; 
}
#rhead p{
	color: rgb(131, 200, 191);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -8px;
	display: inline; 
}
#rheadbod p{
	color: rgb(81, 96, 113);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
}
#rsubhead h1{
	color: rgb(240, 92, 34);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -4px;
	display: inline; 
}
#rsubhead h2{
	color: rgb(192, 62, 26);
	font-family: 'Quicksand', sans-serif;
	font-size: 36px;
	font-weight: 700;
	letter-spacing: -4px;
	margin-right: 5px;
}
#rsubhead h3{
	color: rgb(240, 92, 34);
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -2px;
	margin-right: 5px;
}
#rsubhead h4{
	color: rgb(192, 62, 26);
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -2px;
	margin-right: 5px;
}

/* ----- REVIEWS BOX ----- */
.reviewsleft {
	width: 480px;
	margin-right: 20px;
}
.userreviewsright {
	width: 480px;
	margin-left: 20px;

}

.restreview {
	border-radius: 12px;
	background-color: rgb(255, 248, 232);
	width: 220px;
	height: 310px;
	display:inline;
	float:right;
	position: relative;
	margin: 10px;
}
#rrheader {
	background-color: rgb(131, 200, 191);
	width: 210px;
	height: 30px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	position: relative;
	margin: 5px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#rrheader p{
	color: rgb(73, 152, 152);
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin: 0;
}

.dishreview {
	border-radius: 12px;
	background-color: rgb(255, 248, 232);
	width: 220px;
	height: 320px;
	display:inline;
	float:right;
	position: relative;
	margin: 10px;
}
#drheader {
	background-color: rgb(240, 92, 34);
	width: 210px;
	height: 30px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	position: relative;
	margin: 5px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#drheader p{
	color: rgb(255, 255, 255);
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: .5px;
	margin: 0;
}
#flag {
	position: relative;
	left: 65px;
	margin: 0;
}
.restreviconbar{
	width: 210px;
	margin-left:10px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.dishreviconbar{
	width: 210px;
	margin-left:10px;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top: 3px;
}

#restrevicon{
	margin: 5px;
	width: 50px;
	height: 50px;
}
.restrevdish{
	background-color: rgb(255, 255, 255);
	margin-top: -20px;
	width: 210px;
	margin-left: 5px;
	height: 30px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.restrevdish p {
	color: rgb(121, 54, 81);
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
}
.restrevbox{
	background-color: rgb(255, 255, 255);
	width: 210px;
	height: 155px;
	position: relative;
	margin: 0px 5px 10px 5px;
	display:flex;
}
#reviewerid {
	background-color: rgb(73, 152, 152);
	width: 50px;
	height: 150px;
	margin-left: 10px;
	/*margin-top: 12px;*/
}
#reviewerphoto {
	background-color: rgb(207, 207, 207);
	width: 50px;
	height: 70px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#reviewerphoto p{
	color: rgb(73, 152, 152);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: center;
}
#reviewername{
	background-color: rgb(73, 152, 152);
	width: 50px;
	height: 40px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#reviewername p{
	color: rgb(255, 255, 255);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: center;
}
#reviewerdishes {
	background-color: rgb(81, 96, 113);
	width: 50px;
	height: 40px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#reviewerdishes p{
	color: rgb(73, 152, 152);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: center;
}


.dishrevbox{
	background-color: rgb(255, 255, 255);
	width: 210px;
	height: 155px;
	position: relative;
	margin: 0px 5px 10px 5px;
	display:flex;
}
#dreviewerid {
	background-color: rgb(73, 152, 152);
	width: 50px;
	height: 150px;
	margin-left: 10px;
	/*margin-top: 12px;*/
}
#dreviewerphoto {
	background-color: rgb(207, 207, 207);
	width: 50px;
	height: 70px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#dreviewerphoto p{
	color: rgb(240, 92, 34);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: center;
}
#dreviewername{
	background-color: rgb(192, 62, 26);
	width: 50px;
	height: 40px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#dreviewername p{
	color: rgb(255, 255, 255);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: center;
}
#dreviewerdishes {
	background-color: rgb(121, 54, 81);
	width: 50px;
	height: 40px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#dreviewerdishes p{
	color: rgb(240, 92, 34);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: center;
}



.restrevdishtxt{
	float:right;
	margin-left: 15px;
	width: 100px;
	margin-top: -10px;
}
.restrevdishtxt p {
	color: rgb(121, 54, 81);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: left;
}
.restrevdishrate{
	background-color: rgb(255, 255, 255);
	margin-top: -10px;
	width: 210px;
	margin-left: 5px;
	height: 40px;
	display:flex;
	justify-content:center;
	align-items:center;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.restrevdishrate p {
	color: rgb(121, 54, 81);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: right;
}


.dishrevdishtxt{
	float:right;
	margin-left: 15px;
	width: 100px;
	margin-top: -5px;
}
.dishrevdishtxt p {
	color: rgb(121, 54, 81);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: left;
}
.dishrevdishrate{
	background-color: rgb(255, 255, 255);
	margin-top: -10px;
	width: 210px;
	margin-left: 5px;
	height: 40px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.dishrevdishrate p {
	color: rgb(121, 54, 81);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: right;
}
.dishrevrestname{
	border-size: 2px;
	border-style: solid;
	border-color: rgb(192, 62, 26);
	margin-top: -15px;
	width: 206px;
	margin-left: 5px;
	height: 26px;
	display:flex;
	justify-content:center;
	align-items:center;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.dishrevrestname p{
	color: rgb(240, 92, 34);
	font-family: 'Questrial', sans-serif;
	font-weight: bold;
	font-size: 18px;
	margin: 0;
}




.horizbarcont {
	width: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
#horizbar {
	width: 450px;
	height: 6px;
	border-radius: 3px;
	background-color: rgba(201, 226, 231, .5);
	margin-left: 25px;
	margin-top: 10px;
}

/* FOLLOWERS */
.followers, .following {
	width: 220px;
	height: 320px;
	float:right;
	/*position: relative;*/
	margin: 10px;

/*	display:flex;
	justify-content:center;
	align-items:center;*/
	overflow:scroll;
	overflow-x: hidden;
}
.followbox{
	background-color: rgb(255, 255, 255);
	width: 50px;
	height: 110px;
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
#followerid {
	width: 50px;
	height: 110px;
	/*margin-left: 10px;*/
	/*display: inline;*/
}
#followerphoto {
	background-color: rgb(207, 207, 207);
	width: 50px;
	height: 70px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#followerphoto p{
	color: rgb(240, 92, 34);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: center;
}
#followername{
	background-color: rgb(192, 62, 26);
	width: 50px;
	height: 40px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#followername p{
	color: rgb(255, 255, 255);
	font-family: 'Questrial', sans-serif;
	font-size: 12px;
	text-align: center;
}

#friendsreviewroll {
	/*overflow: scroll;*/
}

/* PROFILE DETAILS */

#profilephoto {
	float: left;
	text-align: center;
	width: 180px;
	height: 200px;
	margin-top: 10px;
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
}

#profilephoto img {
	width: 100px;
	height: 140px;
}

#publicmotto {
	font-style: italic;
}

#publicdetails {
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
	padding-left: 250px;
	padding-top: 80px;
}

#publicdetails p {
	padding: 2px 0px;
	margin: 2px 0px;
}

#followdetails {
	font-family: 'Questrial', sans-serif;
	font-size: 14px;
	padding-left: 250px;
	margin-top: 10px;
	height: 100px;
}

#followdetails p {
	padding: 2px 0px;
	margin: 2px 0px;
}

#followdetails a {
	text-decoration: none;
	color: rgb(73, 152, 152);
	margin-top: 5px;
}

#dishdetails {
	width: 450px;
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
	margin-top: 50px;
	padding-left: 20px;
}
.friendsrev {
	width: 500px;
	height: 320px;
	float:right;
	/*position: relative;*/
	margin: 10px;

/*	display:flex;
	justify-content:center;
	align-items:center;*/
	overflow:scroll;
	overflow-x: hidden;
}

/* FORMS */

#profilephoto {
	float: left;
	text-align: center;
	width: 180px;
	height: 200px;
	margin-top: 10px;
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
}

#profilephoto img {
	width: 100px;
	height: 140px;
}

#userupdate {
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
}

#userbasicinfo {
	float: right;
	width: 250px;
	margin-bottom: 30px;
}

#userbasicinfo label {
	display: block;
	padding: 2px 0px;
}

#userbasicinfo input {
	display: block;
	padding: 2px 0px;
	width: 246px;
}

#headeraddressinfo {
	clear: both;
}

#useraddressinfo {
	margin-bottom: 20px;	
	height: 110px;
}

#useraddressinfo label {
	display: inline-block;
	float: left;
	clear: both;
	padding-top: 2px;
	padding-bottom: 5px;
}

#useraddressinfo input {
	display: inline-block;
	width: 360px;
	float: right;
	padding-right: 50px;
	padding-bottom: 5px;
}

#passwordchange {
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	margin-top: 40px;
}

#userpasswordfields {
	margin-top: 20px;
	height: 90px;
}

#passwordchange label {
	display: inline-block;
	float: left;
	clear: both;
	padding-top: 2px;
	padding-bottom: 5px;
}

input.passwordinput {
	display: inline-block;
	width: 200px;
	float: right;
	padding-right: 100px;
	padding-bottom: 5px;
}

#passwordsubmit {
	clear: both;
	width: 130px;
}