					<div class="writereview">
						<div id="wrheader">
							<p>Name of Dish to Review</p>
						</div>
						<div class="wrbox">
							<div id="wrid">
								<div id="wrphoto">
									<p>photo</p>
								</div>
								<div id="wrname">
									<p>name</p>
								</div>
							</div>
							<div class="wrtxt">
								<p>user enters text here user enters text here</p>
							</div>
						</div>
						<div class="wrselect">
							<object id="wrrate" type="image/svg+xml" data="/img/heart.svg"></object>
							<object id="wrrate" type="image/svg+xml" data="/img/cam.svg"></object>
							<object id="wrrate" type="image/svg+xml" data="/img/plateszero.svg"></object><p>0</p>
						</div>
						<div class="wrcloseaddbar">
							<a href="#" class="close"><div id="wrcloseicon">
							</div></a>
							<a href="#" class="add to database"><div id="wricon"></a>
							</div>
						</div>
					</div>