<a href="#newuser">Text Modal Window</a>


<div class="lightbox" id="newuser">
  <!-- <div class="box"> -->
   		<div class="newusermodal">
			<div id="nuheader">
				<p>become a new user</p>
			</div>
			<div class="nubox">
				<div class="nutxt">
					<form method="POST" action="/create-user">
						<p>Create a unique username...</p>							<input id="ef" type="text" name="username" placeholder="username" required>
						<p>Create a unique password...</p>
						<input id="ef" type="password" name="password" placeholder="password" required>
						<p>Confirm your new password!</p>
						<input id="ef" type="password" name="password_confirmation" placeholder="Confirm password" required>
					</form>
				</div>
			</div>
				<div class="nucloseaddbar">
					<a href="#" class="close"><div id="nucloseicon">
					</div></a>
					<input id="subbutt" type="submit" value="create new user!">
				</div>
		</div>
	<!-- </div> -->
    </div>

