					<div class="newownermodal">
						<div id="noheader">
							<p>become a new owner</p>
						</div>
						<div class="nobox">
							<div class="notxt">
								<form method="POST" action="/create-owner">
									<p>Create a unique username...</p>
									<input id="ef" type="text" name="username" placeholder="username" required>
									<p>Create a unique password...</p>
									<input id="ef" type="password" name="password" placeholder="password" required>
									<p>Confirm your new password!</p>
									<input id="ef" type="password" name="password_confirmation" placeholder="Confirm password" required>
								</form>
							</div>
						</div>
						<div class="nocloseaddbar">
							<a href="#" class="close"><div id="nocloseicon">
							</div></a>
							<input id="subbutt" type="submit" value="create new owner!">
							</div>
						</div>
					</div>